<!DOCTYPE html>
<html lang="zh-CN">
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<!-- Head tag -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--Description-->
  
  <meta name="description" content="目前就读于北京理工大学软件学院">
  

  <!--Author-->
  
  <meta name="author" content="AmazingWu">
  

  <!--Open Graph Title-->
  
      <meta property="og:title" content="关于我"/>
  
  <!--Open Graph Description-->
  
      <meta property="og:description" content="目前就读于北京理工大学软件学院" />
  
  <!--Open Graph Site Name-->
  <meta property="og:site_name" content="AmazingWu"/>
  <!--Type page-->
  
      <meta property="og:type" content="article" />
  
  <!--Page Cover-->
  

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- 百度统计 -->
    <script>
	var _hmt = _hmt || [];
	(function() {
  	var hm = document.createElement("script");
  	hm.src = "https://hm.baidu.com/hm.js?c0451e16533956173997b85f7a8de666";
  	var s = document.getElementsByTagName("script")[0]; 
  	s.parentNode.insertBefore(hm, s);
	})();
    </script>
  <!-- Title -->
  
  <title>关于我 - AmazingWu</title>


  <link rel="shortcut icon" href="/favicon.ico">
    <!--font-awesome-->
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Custom CSS/Sass -->
  <link rel="stylesheet" href="/css/style.css">
<script src="https://cdn1.lncld.net/static/js/av-min-1.2.1.js"></script>
  <script>AV.initialize("vKLeKzRXEBuUzhmWMw2T1uee-gzGzoHsz", "Jg5qaNmuHFK0hn5xQ4YfpBc6");</script>
</head>


<body>

  <!-- Nav -->
  <header class="site-header">
  <div class="header-inside">
    
    <div class="logo">
      <a href="/" rel="home">
        
        <img src="/images/header.png" alt="AmazingWu" height="60">
        
      </a>
    </div>
    <a class="header-name" href="/">
            <span>AmazingWu</span>
            的部落宅
        </a>
    <!-- navbar -->
    <nav class="navbar">
      <!--  nav links -->
      <div class="collapse">
        <ul class="navbar-nav">
          
          
            <li>
              <a href="/.">
                
                  <i class="fa fa-home "></i>
                
                首页
              </a>
            </li>
          
            <li>
              <a href="/archives">
                
                  <i class="fa fa-archive "></i>
                
                归档
              </a>
            </li>
          
            <li>
              <a href="/about">
                
                  <i class="fa fa-user "></i>
                
                关于我
              </a>
            </li>
          
            <li>
              <a href="/project">
                
                  <i class="fa fa-folder-open "></i>
                
                感兴趣的项目
              </a>
            </li>
          
            <li>
              <a href="http://amazingwu.ittun.com/">
                
                  <i class="fa fa-photo "></i>
                
                相册
              </a>
            </li>
          
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <div class="button-wrap">
      <button class="menu-toggle">Primary Menu</button>
    </div>
  </div>
</header>


  <!-- Main Content -->
  <div class="content-area">
  <div class="post">
    <!-- Post Content -->
    <div class="container">
      <article>
        <!-- Title date & tags -->
        <div class="post-header">
          <h1 class="entry-title">
            关于我
            
          </h1>
         
        </div>
         <p class="a-posted-on">
          2017-04-09
          </p>
		  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <!-- Post Main Content -->
        <div class="entry-content">
          <h2 id="地理位置"><a href="#地理位置" class="headerlink" title="地理位置:"></a>地理位置:</h2><iframe id="aa" width="100%" height="230px" src="/html/baidumap.html" scrolling="no"><br></iframe>

<h2 id="教育背景"><a href="#教育背景" class="headerlink" title="教育背景:"></a>教育背景:</h2><ul>
<li>M.A. : Beijing Institute Of Technology ， Software Engineering ， 2016.09 - Present</li>
</ul>
<h2 id="个人信息："><a href="#个人信息：" class="headerlink" title="个人信息："></a>个人信息：</h2><p>&emsp;&emsp;目前在北京理工大学软件学院数据科学研究所研究大数据方向</p>
<h2 id="性格："><a href="#性格：" class="headerlink" title="性格："></a>性格：</h2><p>&emsp;&emsp;简单，随性，放纵不羁，爱自由</p>
<h2 id="个人信息：-1"><a href="#个人信息：-1" class="headerlink" title="个人信息："></a>个人信息：</h2><p>&emsp;&emsp;<a href="https://github.com/amazingWu" target="_blank" rel="external">个人github地址</a>：<a href="https://github.com/amazingWu" target="_blank" rel="external">https://github.com/amazingWu</a><br>&emsp;&emsp;<a href="http://blog.csdn.net/u013668852" target="_blank" rel="external">个人CSDN博客</a>：<a href="http://blog.csdn.net/u013668852" target="_blank" rel="external">http://blog.csdn.net/u013668852</a><br>&emsp;&emsp;个人邮箱：amazingjadewu@gmail.com<br>&emsp;&emsp;欢迎添加我的微信： wq951654775<br><img src="/images/wq951654775.jpg" width="200em">   </p>
<h2 id="友情链接："><a href="#友情链接：" class="headerlink" title="友情链接："></a>友情链接：</h2><p>&emsp;&emsp;<a href="http://haroldliu.weebly.com/" target="_blank" rel="external">HaroldLiuChi</a>:北京理工大学软件学院副院长刘驰老师<br>&emsp;&emsp;<a href="http://guangyugao.weebly.com/" target="_blank" rel="external">Guangyu(Ryan) Gao</a>:北京理工大学软件学院高老师<br>&emsp;&emsp;<a href="http://fangheart.top" target="_blank" rel="external">FangHeart的博客</a>:实验室小伙伴FangHeart<br>&emsp;&emsp;<a href="http://wenjiewang.top/" target="_blank" rel="external">wenjiewang的博客</a>：实验室小伙伴wenjiewang<br>&emsp;&emsp;<a href="http://blog.csdn.net/it_dx" target="_blank" rel="external">DuanXiong的博客</a>：实验室小伙伴DuanXiong</p>
<p><script type="text/javascript"><br>var duoshuoQuery = {short_name:”&lt;%= theme.duoshuo_shortname %&gt;”};<br>    (function() {<br>        var ds = document.createElement(‘script’);<br>        ds.type = ‘text/javascript’;ds.async = true;<br>        ds.src = (document.location.protocol == ‘https:’ ? ‘https:’ : ‘http:’) + ‘//static.duoshuo.com/embed.js’;<br>        ds.charset = ‘UTF-8’;<br>        (document.getElementsByTagName(‘head’)[0]<br>         || document.getElementsByTagName(‘body’)[0]).appendChild(ds);<br>    })();<br>    </script></p>
<div class="ds-recent-visitors" data-num-items="38" data-avatar-size="42" id="ds-recent-visitors"></div>

<p><div class="ds-thread" data-thread-key="<%= page.layout %>-<%= page.slug %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div><br><!-- UY BEGIN --></p>
<p><div id="uyan_newcmt_unit"></div></p>
<p><script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%=theme.youyan_uid%>"></script><br><!-- UY END --></p>
<p><br></p>

        </div>
      </article>
    </div>
    <!-- Pre or Next -->
    
　　　　
  </div>
</div>


  <!-- Footer -->
  <!-- Footer -->
<footer class="site-info">
  <p>
    <span>AmazingWu &copy; 2017</span>
    
      <span class="split">|</span>
      <span>AmazingWu的技术部落</span>
    
  </p>
</footer>


  <!-- After footer scripts -->
  <!-- scripts -->
<script src="/js/app.js"></script>


<!--page counter part-->
<script>
function addCount (Counter) {
        url=$('.article-date').attr('href').trim();
        title = $('.article-title').text().trim();
        var query=new AV.Query(Counter);
        //use url as unique idnetfication
        query.equalTo("url",url);
        query.find({
            success: function(results){
                if(results.length>0)
                {
                    var counter=results[0];
                    counter.fetchWhenSave(true); //get recent result
                    counter.increment("time");
                    counter.save();
                }
                else
                {
                    var newcounter=new Counter();
                    newcounter.set("title",title);
                    newcounter.set("url",url);
                    newcounter.set("time",1);
                    newcounter.save(null,{
                        success: function(newcounter){
                        //alert('New object created');
                        },
                        error: function(newcounter,error){
                        alert('Failed to create');
                        }
                        });
                }
            },
            error: function(error){
                //find null is not a error
                alert('Error:'+error.code+" "+error.message);
            }
        });
}
$(function(){
        var Counter=AV.Object.extend("Counter");
        //only increse visit counting when intering a page
		alert("hello");
        if ($('.article-title').length == 1)
           addCount(Counter);
        var query=new AV.Query(Counter);
        query.descending("time");
        // the sum of popular posts
        query.limit(10); 
        query.find({
            success: function(results){
                    for(var i=0;i<results.length;i++)    
                    {
                        var counter=results[i];
                        title=counter.get("title");
                        url=counter.get("url");
                        time=counter.get("time");
                        // add to the popularlist widget
                        showcontent=title+" ("+time+")";
                        //notice the "" in href
                        $('.popularlist').append('<li><a href="'+url+'">'+showcontent+'</a></li>');
                    }
                },
            error: function(error){
                alert("Error:"+error.code+" "+error.message);
            }
            }
        )
        });
</script>

</body>

</html>
